
.header-top {
    background: #272727 none repeat scroll 0 0;
    height: 50px;
}
.header {
    background-color: #E4C81F;
}

.contact>p {
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.header .header-top .contact p a {
    color: #E4C81F;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.header .header-top .contact p span {
    margin-right: 45px;


}

.join-us>p {
    background: #ffffff; none repeat scroll 0 0;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.header .header-top .join-us p a {
    background-color: #fff; none repeat scroll 0 0;

    color: rgb(0, 0, 0);
    float: right;
    font-size: 15px;
    font-weight: 500;
    padding: 0 40px;
    text-decoration: none;
    font-family: 'open-sans', sans-serif;
}

.header .header-bottom .menu {
    margin: 25px 0;
    background-color: #E4C81F;
}

.header .header-bottom .menu ul {
    float: right;
    background-color: #E4C81F;
}

.header .header-bottom .menu ul li a {
  
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 0;
    background-color: #E4C81F;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    
}

.main-logo {
    margin: 10px 0;
}

.main-logo>img {
    display: inline-block;
    height: 75px;
}



.carosal-area {
    background-image: url("img/carosal-bg.jpg");
    background-size: cover;
}

.carosal-area .text {
    text-align: center;
    margin-bottom: 50px;
}

.carosal-area .text>h3 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-top: 210px;
}

.carosal-area .text>p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 28px;
}

.carosal-area .text>h5 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 52px;
}

.carosal-area .text>h5 a {
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
}

.carosal-area .text>h5.white-button a {
    background: #fff;
    color: #E4C81F;
}

.carosal-area .owl-prev {
    left: 0;
    position: absolute;
    top: 48%;
}

.carosal-area .owl-next {
    right: 0;
    position: absolute;
    top: 48%;
}

.carosal-area .owl-theme .owl-nav [class*="owl-"] {
    background: #E4C81F none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 25px;
    height: 50px;
    line-height: 43px;
    width: 50px;
}

.carosal-area .owl-dots {
    margin-bottom: 40px;
    margin-top: 105px;
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff none repeat scroll 0 0;
}


/*
.wrapper section>h2 {
    color: #3c354e;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    width: -moz-fit-content;
    text-transform: uppercase;
}
*/

.wrapper section>h2 {
    color: #3c354e;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 115px 0 50px;
}

.wrapper section>h2::before {
    background: #E4C81F none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 48%;
    position: absolute;
    width: 75px;
    margin: 0 auto;
}

.wrapper section>p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.our_activity {
    margin-bottom: 140px;
}

.our_activity .single-Promo {
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 100px 35px 0;
    padding: 40px 45px;
    position: relative;
}

.our_activity .single-Promo .promo-icon {
    left: 0;
    position: absolute;
    text-align: center;
    top: -40px;
    width: 100%;
}

.our_activity .single-Promo h2 {
    border-radius: 60px;
    margin: 10px auto 38px;
    position: relative;
    width: -moz-fit-content;
}

.our_activity .single-Promo h2::before {
    background: #000 none repeat scroll 0 0;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 20%;
    position: absolute;
    width: 60%;
}

.our_activity .single-Promo h2 a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #3c354e;
}

.our_activity .single-Promo p {
    color: #3c354e;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.our_activity .single-Promo i {
    border: 0 solid #000;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 30px;
    padding: 25px;
    text-align: center;
    background: #fff;
}

.our_activity .single-Promo:hover>h2 a {
    color: #E4C81F;
}

.our_activity .single-Promo:hover>.promo-icon i {
    background: #E4C81F;
    color: #fff;
}

.our_activity .single-Promo:hover>h2::before {
    background: #E4C81F;
    color: #fff;
}

.donate_section {
    background-image: url("img/donate-bg.jpg");
    background-size: cover;
}

.donate_section h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.donate_section h3 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

.donate_section p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.donate_section .for-padding {
    padding: 87px 20px 107px;
}

.donate_section .progress {
    max-width: 700px;
    margin: 0 auto;
    height: 10px;
    background-color: #1eb464;
}

.donate_section .progress-bar {
    background-color: #fff;
}

.donate_section .progress-text {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

.donate_section .progress-text .progress-right {
    position: absolute;
    right: 0;
    margin-top: 15px;
}

.donate_section .progress-text .progress-left {
    left: 0;
    position: absolute;
    margin-top: 15px;
}

.donate_section h2 {
    margin-top: 120px;
    text-align: center;
}

.donate_section h2 a {
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    color: #E4C81F;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.events_section_area .events_single {
    margin: 60px 20px 0;
}

.events_section_area .events_single img {
    width: 100%;
}

.events_section_area .events_single p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin-top: 14px;
    font-weight: 400;
    position: relative;
}

.events_section_area .events_single p i {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}

.events_section_area .events_single p span.event_left {
    left: 0;
    position: absolute;
    padding-left: 20px;
}

.events_section_area .events_single p span.event_right {
    position: absolute;
    right: 0;
    padding-left: 20px;
}

.events_section_area .events_single h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    text-align: center;
}

.events_section_area .events_single:hover h3 {
    color: #E4C81F;
    text-decoration: underline;
}

.events_section_area .events_single h6 {
    color: #6f6f6f;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.our_cuauses .our_cuauses_single {
    margin-top: 75px;
    margin-bottom: 55px;
}

.our_cuauses .our_cuauses_single .item {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-bottom: 20px
}

.our_cuauses .our_cuauses_single .item img {
    width: 100%
}

.our_cuauses .our_cuauses_single .item h2 {
    color: #3c354e;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 110px 0 40px;
}

.our_cuauses .our_cuauses_single .item p {
    color: #595959;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.our_cuauses .our_cuauses_single .item p span {
    color: #E4C81F;
}

.our_cuauses .our_cuauses_single .item p.progress-top {
    text-align: center
}

.our_cuauses .our_cuauses_single .item .for_padding {
    padding: 0 30px
}

.our_cuauses .progress {
    background-color: #e5e5e5;
    height: 10px;
    margin-top: 20px;
    max-width: 100%;
}

.our_cuauses .progress-bar {
    background-color: #E4C81F;
}

.our_cuauses .progress-text {
    margin: 0 auto;
    position: relative;
}

.our_cuauses .progress-text .progress-left {
    left: 0;
    margin-top: 15px;
    position: absolute;
}

.our_cuauses .progress-text .progress-right {
    margin-top: 15px;
    position: absolute;
    right: 0;
}

.our_cuauses h2 {
    margin-top: 120px;
    text-align: center;
}

.our_cuauses h2 {
    color: #E4C81F;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    width: -moz-fit-content;
}

.our_cuauses h2::before {
    background: #E4C81F none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 25%;
    position: absolute;
    width: 50%;
}

.our_cuauses h2.borderes::before {
    background: #E4C81F none repeat scroll 0 0;
       bottom: -13px;
    content: "";
    height: 0px;
    left: 25%;
    position: absolute;
    width: 0%;
}

.wrapper .our_cuauses>p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.our_cuauses h2 a {
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    color: #E4C81F;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
    border: 1px solid #E4C81F;
}

.our_cuauses .our_cuauses_single .item {
    margin-bottom: 20px
}

.our_cuauses .our_cuauses_single .item .for_padding:hover>h2 {
    color: #E4C81F;
}

.our_cuauses .our_cuauses_single .item .for_padding:hover>h2 a {
    color: #fff;
    background: #E4C81F;
}

.our_cuauses .owl-theme .owl-nav {
    margin: 50px 0;
}

.our_cuauses .owl-theme .owl-nav [class*="owl-"] {
    background: transparent;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    margin: 8px;
    padding: 0;
}

.our_cuauses .owl-theme .owl-nav i {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #E4C81F;
    border-radius: 5px;
    color: #E4C81F;
    font-size: 25px;
    height: 50px;
    overflow: hidden;
    padding: 10px 15px;
    width: 50px;
}

.our_cuauses .owl-theme .owl-nav i:hover {
    background: #E4C81F;
    color: #fff;
}

/* COLOR OF ICONS IN >ABOUT MUSIC LINK FOUNDATION< */
.material-icons {
    color: #E4C81F;
}

/* END COLOR ICON */
.donors {
    height: 600px;
}
@ -1211,7 +1217,7 @@
        border-radius: 0;
    }
}

/*SOCIAL MEDIA */

.btn.btn-custom {
    padding: 12px 20px;
@ -1227,145 +1233,148 @@
    -moz-transition: ease-out 0.3s;
}




.btn.btn-custom:hover {
    color: #20212B;
    box-shadow: inset 0 0 0 30px #FDBE33;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.footer .footer-newsletter .btn.btn-custom {
    width: 100%;
    padding: 15px 0;
}



/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #20212B;
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #ffffff;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #FDBE33;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #FDBE33;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    width: 40px;
    height: 40px;
    padding: 6px 0;
}

.footer .footer-social a {
    margin-top: 5px;
}

.footer .footer-newsletter form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    margin-bottom: 15px;
    height: 60px;
    border: none;
    border-radius: 0;
}

.footer .footer-newsletter label {
    margin-top: 5px;
    color: #777777;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer .footer-newsletter .btn.btn-custom {
    width: 100%;
    padding: 15px 0;
}

.footer .copyright {
    padding: 0 30px;
}

.footer .copyright .row {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright p {
    margin: 0;
    color: #999999;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
}

.footer .copyright p a:hover {
    color: #FDBE33;
}

@media (max-width: 767.98px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}